html {
  scroll-behavior: smooth;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes grow {
  0% {
    opacity: 0;
    transform: scale(0.96);
  }
  3% {
    opacity: 0.7;
    transform: scale(1.03);
  }
  3.6% {
    opacity: 0.8;
    transform: scale(1.05);
  }
  4.2% {
    opacity: 0.9;
    transform: scale(1.03);
  }
  6% {
    opacity: 1;
    transform: scale(1);
  }
  95% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

svg.card {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.card .satellite {
  fill: var(--bg);
  stroke-width: 1.165;
  /* animation: fade-in 1s both; */
}

.card .orange.satellite {
  stroke: var(--preact);
}

.card .gray.satellite {
  stroke: red;
}

.card .orbit {
  fill: none;
  stroke-width: 1.165;
  animation: grow 4s linear both infinite;
}

.card .orbits > g {
  animation: spin 60s linear both infinite;
}

.card .orbits > g:nth-child(2) {
  animation-duration: 80s;
}

.card .orbits > g:nth-child(3) {
  animation-duration: 100s;
}

.card .orbits > g:nth-child(4) {
  animation-duration: 120s;
}

.card #gradient-vercel {
  --g1: #000;
  --g2: #333;
}

.card stop {
  stop-color: rgba(180, 32, 32, 0.3);
}

@media (min-width: 800px) {
  .card .orbits > g:nth-child(2) {
    animation-duration: 120s;
  }

  .card .orbits > g:nth-child(3) {
    animation-duration: 25s;
  }

  .card .orbits > g:nth-child(4) {
    animation-duration: 180s;
  }
}

@media (prefers-color-scheme: dark) {
  .card #gradient-vercel {
    --g1: #eee;
    --g2: #fff;
  }

  .card stop {
    stop-color: black;
  }
}

@media (prefers-reduced-motion) {
  .card .satellite,
  .card .orbit,
  .card .orbits > g {
    animation: none;
  }
}

/* EMBLA */

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.typing-cursor {
  animation: blink-caret 1s step-end infinite;
}

@keyframes blink-caret {
  50% {
    opacity: 0;
  }
}
